//Mixin
@mixin welcomeTextColor {
  color: rgb(189, 69, 33);
}

@mixin welcomeTextShadow {
  text-shadow: 2px 2px rgb(215, 199, 57);
}

#mixin-welcome {
  @include welcomeTextColor;
  @include welcomeTextShadow;
   font-size: 76px;
}

//Colors (use variables)
$blackText: black;
$greyText: rgb(241, 241, 250);


//RGBA color variables
$list-group-item-color1: rgb(17, 75, 95);
$list-group-item-color2: rgb(204, 245, 226);

//Nesting & parent syntax
a {
  background-color: ivory;
  color: rgb(7, 58, 41);
  &:hover {
      color: violet;
  }
}

//Custom fonts 
@font-face {
font-family:"ComforterBrush";
src: url(../assets/fonts/Comforter_Brush/ComforterBrush-Regular.ttf); 
}

@font-face {
  font-family:"GreatVibes";
  src: url(../assets/fonts/Great_Vibes/GreatVibes-Regular.ttf); 
}

@font-face {
  font-family:"OpenSans";
  src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf); 
}

//Font variables
$primaryFont: OpenSans;
$secondaryFont: sans-serif;
$h1Font: GreatVibes;
$handwrFont: ComforterBrush;

body {
  font-family: $primaryFont;
  background-color: ivory;
  color: rgb(2, 5, 61, 1.0);
  opacity: 1.0;
}


h1 {
  font-family: $h1Font;
  font-size: 102;
  font-weight: 400;
  position: relative;
  opacity: 1.0;
}

h3 {
  color: rgb(2, 31, 2)
}

.signature {
  font-family: $handwrFont;
  font-size: 50px;
  color: rgb(17, 75, 95);
}

.bold {
  font-weight: bold;
}

.blockquote {
    font-size: 20px;
    color: rgb(197, 247, 233)
}

.blockquote-header {
 color: rgb(231, 196, 185);
}

.blockquote-footer {
    font-size: 15px;
    color: rgb(181, 225, 241)
}

.modal-style {
  background-color: ivory;
  color: rgb(7, 58, 41);
  & h1 {
        font-family: $primaryFont;
        color: rgb(7, 58, 41);
  }
}

#legend {
  font-size: 16px;
  font-weight: bold;
}

//Color styles
.list-group-item-text1 {
  color: $greyText;
}

.list-group-item-text2 {
  color: $blackText;
}

.list-group-item-color1 { 
  background-color: $list-group-item-color1;
}

.list-group-item-color2 {
  background-color: $list-group-item-color2;
}

a {
  background-color: ivory;
  color: rgb(7, 58, 41);
}
a:hover {
  color: violet;
}

.nav-text {
  color: rgb(181, 225, 241)
}


//Opacity
.fullOpacity {
  opacity: 1.0;
}

//Transform rotate and animate
 .animation:hover {
  transform: scale(1) rotate(20deg);
  transition: transform 1s;
}

//Text-shadow & Box-shadow
.boxShadowUL {
  box-shadow: 30px 20px rgb(189, 69, 33);
}

.boxShadowLI {
  box-shadow: 25px 20px rgb(189, 69, 33);
}

.textShadow {
  text-shadow: 1px 1px rgb(84, 80, 80);
}

.boxShadow {
  box-shadow: 15px 15px rgb(189, 69, 33);
}

//Alignment
.center {
  margin: auto;
  width: 75%;
  padding: 10px;
}