#resumeMain {
	h2 {
		font-size: 25px;
		color: #cd5c5c;
		margin: 15px;
	}

	h3 {
		text-align: left;
		font-size: 20px;
		color: #228b22;
		margin: 15px;
	}

	h4 {
		text-align: left;
		font-size: 15px;
		color: #191970;
		width: 75%;
		margin: 15px;
	}

	p {
		text-align: left;
		font-size: 15px;
		color: #191970;
		width: 75%;
		margin: 15px;
	}

	#skill {
		font-size: 15px;
		color: #008b8b;
		font-weight: bold;
	}

	ul {
		text-align: left;
		font-size: 15px;
		color: #191970;
		width: 85%;
		margin: 15px;
	}
}
